.contact_main {
    color : #ccc;
    font-size : 15px;
    width : 1180px;
    border : 1px solid #333333;
    padding-top : 48px;
    padding-left:89px;
    padding-right : 89px;
    padding-bottom : 15px;
    border-radius: 5px;
}

.container1 {
    color: #ccc !important;
}
.contact_input {
    border:1px #464646 solid;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    background-color:inherit;
    padding-left: 20px;
    font-weight: bold;
    
}


.contact_input1 {
    color:#ccc;
    height : 47px;
    margin-right: 10px;
}

.contact_main p{
    display:inline-block;
    vertical-align: top;
}

.contact_detail {
    width : 439px;
    height : 47px;
    margin-bottom:10px;
    color : #ccc;
    font-size:15px;
}
.reset_a {
    color: #ccc !important;
}
.reset_a:hover {
    color:#fff !important;
}
.pagination .pagination-border-reset {
    border : 1px #464646 solid !important;
    margin-left : 0px;
    margin-right: 0px;
}
.pagination-link,.pagination-next,.pagination-previous {
    color : #ccc !important;
}
.table-background-black {
    background-color:inherit;
    color : #ccc;
    border:#464646;

}
.table_border {
    border-radius: 5px;
}
.table-background-black th ,.table-background-black td{
    height : 55px;
    text-align: center !important;
    border: 1px #464644 solid !important;
}
.table tr:hover {
    background-color : inherit !important
}
.contact_slides {
    display:none;
}
.contact_inline {
    margin : 0;
    display:inline-block;
}
.contact_border {
    border: 1px #464646 solid;

.contact_border_bottom {
    border-bottom:1px #464646 solid;
}